:root {
    font-size: 16px;
}

body {
    font-family: 'Noto Serif Display', serif;
    background: url('neutral-background-tile.png') repeat;
    color: #3c3c3c;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 80rem;
    margin: auto;
    padding: 1.25rem;
    box-shadow: 0 0 1.25rem rgba(182, 38, 38, 0.2);
    text-align: left;
}

.header {
    display: flex;
    align-items: center;
    height: 30vh;
    margin-bottom: .25rem;
}

.logo-img {
    height: 80%;
    width: auto;
    margin-right: 1.25rem;
    object-fit: contain;
}

.mobile-title {
    display: none;
}

.mobile-byline {
    display: none;
}

h1 {
    font-size: 5rem;
    margin: 0;
    font-weight: 400;
}


.title-and-byline {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 3rem;
    color:#e3534c;
    font-weight: 200;
    margin: 0;
}

span {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 0 2rem;
    color: #3c3c3c;
}

.content {
    display: flex;
    align-items: flex-start;
    margin-left: 3rem;
}

.deck-img {
    max-width: 50%;
    height: auto;
    margin-right: 1.25rem;
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);
}

.text {
    flex: 1;
    margin-left: 3rem;
    margin-right: 3rem;
}

.byline {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    margin: 1rem 0 0 0;
    font-weight: 100;
}

.button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.buy-now-button {
    display: block;
    padding: 0.75rem 1.5rem;
    background-color: #e3534c;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.mobile-buy-now-button {
    display: none;
}

.buy-now-button:hover {
    background-color: #c4423b;
}

/* Mobile Styles */
@media (max-width: 1096px) {
    h1 {
        font-size: 3rem;
    }

    .header {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .logo-img {
        height: 5rem;
        width: auto;
        margin-bottom: 1rem;
    }

    .title-and-byline {
        display: none;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .deck-img {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .text {
        margin-left: 0;
        margin-right: 0;
    }

    .description {
        font-size: 1rem;
    }

    .button-container {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .buy-now-button {
        width: 80%;
    }

    .desktop-title {
        display: none;
    }

    .mobile-title {
        display: block;
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1rem;
    }

    .title-and-byline {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
        margin-right: 0.25rem;
    }

    .byline {
        display: none;
    }

    .mobile-byline {
        display: block;
        font-size: 1rem;
        font-weight: 100;
        margin-top: 0rem;
    }

    span {
        font-size: 1rem;
        text-align: center;
    }

    .header {
        text-align: center;
    }

    .content {
        text-align: center;
        margin-left: 0;
    }

    .deck-img {
        max-width: 100%;
        margin: 0 auto 0 auto;
    }

    .logo-img {
        height: 6rem;
        width: auto;
        margin-right: 1.25rem;
        object-fit: contain;
    }

    .text {
        margin-left: 0;
        margin-right: 0;
    }

    .description {
        font-size: 0.9rem;
    }

    .buy-now-button {
        display: none;
    }

    .mobile-buy-now-button {
        display:block;
        margin: 1rem auto 0 auto;
        padding: 0.5rem 1rem;
        background-color: #e3534c;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        box-sizing: border-box;
        transition: background-color 0.3s ease;
    }

    .desktop-title {
        display: none;
    }

    .mobile-title {
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
    }
}